<% html_title l(:importation_done) -%>

<h2><%=l(:importation_done)%></h2>

<div class="box">
Bravo ! ;)

<div onclick='javascript:showAndScrollTo(\"monnouveauplanner\")>Afficher le nouveau XML</div>

<div id='monnouveauplanner' style='display:none;'><% @xml_a_afficher %></div>"
</div>

